# Checkpoint 4

In [1]:
#Import packages
import pandas as pd
import numpy as np
import csv
from pandas.core.frame import DataFrame
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, ForeignKey, TIMESTAMP
from sqlalchemy.orm import relationship, sessionmaker
import psycopg2

In [2]:
conn_str = 'postgresql://postgres:123@localhost/CP_4'
engine = create_engine(conn_str)
connection = engine.connect()

In [100]:
creat_tb_stmt = """
create table campaign_desc(
	campaign_id integer,
	start_day integer,
	end_day integer,
	PRIMARY KEY (campaign_id)
);

CREATE TABLE store(
	store_id integer,
	store_name varchar(100) UNIQUE NOT NULL,
	PRIMARY KEY(store_id)
);


CREATE TABLE age_description(
	age_id integer,
	age varchar(50),
	life_stage varchar(50),
	PRIMARY KEY (age_id)
);

CREATE TABLE marital_status_description(
	marital_status_id integer,
	marital_status varchar(50),
	marital_status_description varchar(50),
	PRIMARY KEY (marital_status_id)
);

CREATE TABLE income_description(
	income_status_id integer,
	income varchar(50),
	income_level varchar(50),
	PRIMARY KEY (income_status_id)
);

CREATE TABLE commodity(
	sub_commodity_id integer,
	sub_commodity varchar(100),
	PRIMARY KEY (sub_commodity_id)
);

CREATE TABLE manufacturer(
	manufacturer_id integer,
	brand varchar(100),
	PRIMARY KEY (manufacturer_id)
);

CREATE TABLE household_info(
	household_id integer,
	age_id integer,
	marital_status_id integer,
	income_status_id integer,
	homeowner varchar(100),
	home_member varchar(50),
	size varchar(50) NOT NULL,
	kid_category varchar(50) NOT NULL,
	PRIMARY KEY (household_id),
	FOREIGN KEY (age_id) REFERENCES age_description (age_id),
	FOREIGN KEY (marital_status_id) REFERENCES marital_status_description(marital_status_id),
	FOREIGN KEY (income_status_id) REFERENCES income_description (income_status_id)
);

CREATE TABLE campaign(
	campaign_id integer,
	household_id integer,
	description char(5) CHECK(description in ('TypeA', 'TypeB', 'TypeC')),
	PRIMARY KEY (campaign_id, household_id),
	FOREIGN KEY (campaign_id) REFERENCES campaign_desc(campaign_id)
);

CREATE TABLE product(
	product_id integer,
	manufacturer_id integer,
	brand varchar(50),
	current_size varchar(50),
	sub_commodity_id integer,
	PRIMARY KEY (product_id),
	FOREIGN KEY (manufacturer_id) REFERENCES manufacturer (manufacturer_id),
	FOREIGN KEY (sub_commodity_id) REFERENCES commodity(sub_commodity_id)
);

CREATE TABLE causal_data(
	product_id integer,
	store_id integer,
	week_no integer,
	display char(5),
	mailer char(1),
	PRIMARY KEY (product_id, store_id, week_no),
	FOREIGN KEY (product_id) REFERENCES product(product_id),
	FOREIGN KEY (store_id) REFERENCES store(store_id)
);

CREATE TABLE coupon_campaign(
	coupon_upc numeric,
	campaign_id integer,
	PRIMARY KEY (campaign_id, coupon_upc),
	FOREIGN KEY (campaign_id) REFERENCES campaign_desc(campaign_id)
);

CREATE TABLE coupon_redempt(
	household_id integer,
	day integer,
	coupon_upc numeric,
	campaign_id integer,
	PRIMARY KEY (household_id, campaign_id, coupon_upc, day),
	FOREIGN KEY (household_id) REFERENCES household_info(household_id),
	FOREIGN KEY (coupon_upc, campaign_id) REFERENCES coupon_campaign(coupon_upc, campaign_id),
	FOREIGN KEY (campaign_id) REFERENCES campaign_desc(campaign_id)
);

CREATE TABLE transaction_info(
	trans_id bigint,
	household_id integer,
	store_id integer,
	trans_time integer NOT NULL,
	day integer NOT NULL,
	week_no integer NOT NULL,
	PRIMARY KEY (trans_id),
	FOREIGN KEY (store_id) REFERENCES store (store_id)
);

CREATE TABLE transaction_product(
	trans_id integer,
	product_id integer,
	quantity integer,
	sale_value numeric(5,2) NOT NULL,
	retail_discount numeric(5,2) DEFAULT 0,
	coupon_disc numeric(5,2) DEFAULT 0,
	coupon_match_disc numeric(5,2) DEFAULT 0, 
	PRIMARY KEY (trans_id,product_id),
	FOREIGN KEY (trans_id) REFERENCES transaction_info (trans_id),
	FOREIGN KEY (product_id) REFERENCES product (product_id)
);
"""

In [316]:
connection.execute(creat_tb_stmt)

## 1. campaign_desc

In [6]:
campaign_desc = pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/campaign_desc.csv")
campaign_desc.head(2)

  DESCRIPTION  CAMPAIGN  START_DAY  END_DAY
0       TypeB        24        659      719
1       TypeC        15        547      708

In [102]:
#Insert data in the Campaign_Desc Table
for index, row in campaign_desc.iterrows():
    stmt = """INSERT INTO campaign_desc VALUES({campaign_id}, {start_day}, {end_day});"""
    sql_command = stmt.format(campaign_id = row.CAMPAIGN,
                              start_day = row.START_DAY, 
                              end_day = row.END_DAY)
    connection.execute(sql_command)

## 2. store

In [11]:
tmp_lst = []
with open(r"/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/store.csv", 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        tmp_lst.append(row)
store= pd.DataFrame(tmp_lst[1:], columns=tmp_lst[0]) 
store.head(2)

  store_id            store_name
0      286         The Full Cart
1      288  Dollar Savings Store

In [103]:
#Insert data in the store Table
for index, row in store.iterrows():
    stmt = """INSERT INTO store VALUES({store_id}, '{store_name}');"""
    sql_command = stmt.format(store_id = row.store_id,
                              store_name = row.store_name)
    connection.execute(sql_command)

## 3. age_description

In [14]:
hh_demographic=pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/hh_demographic.csv")
product=pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/product.csv")
transaction_data=pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/transaction_data.csv")
manufacturer=pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/manufacturer.csv")

In [16]:
#Find unique values for age range
age=hh_demographic['AGE_DESC'].unique()
age

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [17]:
#Build age description table based on the age range shown in the hh_demographic table

age_description = {
    'age_id':list(range(1,len(age)+1)),
    'age':list(age),
    'life_stage':['Mature Adulthood','Midlife','Early Adulthood','Midlife','Early Adulthood','Mature Adulthood']}

df_age_description=pd.DataFrame.from_dict(age_description)

In [104]:
#Load data into age_description table 
df_age_description.to_sql(name='age_description', con=engine, if_exists='append', index=False)

## 4. marital_status_description

In [19]:
#Find unique values for marital_status
marital_status=hh_demographic['MARITAL_STATUS_CODE'].unique()
marital_status

array(['A', 'U', 'B'], dtype=object)

In [20]:
#Build marital_status table based on the marital_status shown in the hh_demographic table

marital_status = {
    'marital_status_id':[1,2,3],
    'marital_status':['A','U','B'],
    'marital_status_description':['widowed','single','married']}

df_marital_status_description=pd.DataFrame.from_dict(marital_status)

In [105]:
#Load data into marital_status table 
df_marital_status_description.to_sql(name='marital_status_description', con=engine, if_exists='append', index=False)

## 5. income_description

In [22]:
#Find unique varibles for income
income=hh_demographic['INCOME_DESC'].unique()
income

array(['35-49K', '50-74K', '25-34K', '75-99K', 'Under 15K', '100-124K',
       '15-24K', '125-149K', '150-174K', '250K+', '175-199K', '200-249K'],
      dtype=object)

In [23]:
#Build income_description table based on the inncome level shown in the hh_demographic table

income_description = {
    'income_status_id':list(range(1,len(income)+1)),
    'income':list(income),
    'income_level':['Lower Middle','Lower Middle','Low','Middle','Low','Middle','Low','Upper Middle','Upper Middle','High','High','High']}

df_income_description=pd.DataFrame.from_dict(income_description)

In [106]:
#Load data into income_description table 
df_income_description.to_sql(name='income_description', con=engine, if_exists='append', index=False)

## 6.commodity

In [25]:
#Find unique varibles for sub_commodity
sub_commodity=product['SUB_COMMODITY_DESC'].unique()

In [26]:
#Build commodity table based on the sub_commodity shown in the product table
commodity = {
    'sub_commodity_id':range(1,len(sub_commodity)+1),
    'sub_commodity':sub_commodity}

df_commodity=pd.DataFrame.from_dict(commodity)

In [107]:
#Load commodity data into commodity  table 
df_commodity.to_sql(name='commodity', con=engine, if_exists='append', index=False)

## 7. manufacturer

In [28]:
#Select the columns and prepare to insert in the manufacturer table
df_manufacturer=manufacturer[['manufacturer_id','brand']]

In [108]:
#Load manufacturer data into manufacturer table 
df_manufacturer.to_sql(name='manufacturer', con=engine, if_exists='append', index=False)

## 8. household_info

In [66]:
#Select the columns and rename them to comply to the names used in the database
df_household_info=hh_demographic[['household_key','AGE_DESC','MARITAL_STATUS_CODE','INCOME_DESC','HOMEOWNER_DESC',
                                  'HH_COMP_DESC','HOUSEHOLD_SIZE_DESC','KID_CATEGORY_DESC']]

df_household_info.columns = ['household_id', 'age_id', 'marital_status_id', 'income_status_id', 'homeowner','home_member','size','kid_category']

In [68]:
#Build mapping table of age description
age_mapping=df_age_description.set_index(['age'])['age_id'].to_dict()

In [69]:
#Replace the age description
df_household_info['age_id'] = df_household_info['age_id'].map(age_mapping)

In [70]:
#Build mapping table of marital_status_id
marital_mapping=df_marital_status_description.set_index(['marital_status'])['marital_status_id'].to_dict()

In [71]:
#Replace the marital description
df_household_info['marital_status_id'] = df_household_info['marital_status_id'].map(marital_mapping)

In [62]:
#Build mapping table of income_status_id
income_mapping=df_income_description.set_index(['income'])['income_status_id'].to_dict()

In [73]:
#Replace the income description
df_household_info['income_status_id'] = df_household_info['income_status_id'].map(income_mapping)

In [109]:
#Load manufacturer data into manufacturer table 
df_household_info.to_sql(name='household_info', con=engine, if_exists='append', index=False)

## 9.campaign

In [85]:
#Load campaign Table
campaign_table = pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/campaign_table.csv")
campaign_table.head(2)

  DESCRIPTION  household_key  CAMPAIGN
0       TypeA             17        26
1       TypeA             27        26

In [92]:
campaign_table = campaign_table[6:7207]

In [110]:
#Insert data in the campaign Table
for index, row in campaign_table.iterrows():
    stmt = """INSERT INTO campaign VALUES({campaign_id}, {household_id}, '{description}');"""
    sql_command = stmt.format(campaign_id = row.CAMPAIGN,
                              household_id = row.household_key, 
                              description = row.DESCRIPTION)
    connection.execute(sql_command)

## 10. product

In [111]:
#Select the columns and rename them to comply to the names used in the database
df_product=product[['PRODUCT_ID','MANUFACTURER','BRAND','CURR_SIZE_OF_PRODUCT','SUB_COMMODITY_DESC']]

df_product.columns = ['product_id', 'manufacturer_id', 'brand', 'current_size', 'sub_commodity_id']

In [112]:
#Build mapping table of commodity
commodity_mapping=df_commodity.set_index(['sub_commodity'])['sub_commodity_id'].to_dict()

In [113]:
#Replace the sub_commodity_id
df_product['sub_commodity_id'] = df_product['sub_commodity_id'].map(commodity_mapping)

/Users/yihengshen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [114]:
#Load product data into product table 
df_product.to_sql(name='product', con=engine, if_exists='append', index=False)

## 11. casual_data

In [13]:
casual_data = pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/causal_data.csv")
casual_data.head(2)

   PRODUCT_ID  STORE_ID  WEEK_NO display mailer
0       26190       286       70       0      A
1       26190       288       70       0      A

In [144]:
for index, row in casual_data.iterrows():
    stmt = """INSERT INTO causal_data VALUES({product_id}, {store_id}, {week_no}, '{display}', '{mailer}');"""
    sql_command = stmt.format(product_id = row.PRODUCT_ID,
                              store_id = row.STORE_ID,
                              week_no = row.WEEK_NO,
                              display = row.display,
                              mailer = row.mailer)
    connection.execute(sql_command)

## 12.coupon

In [298]:
# Load coupon Table
coupon = pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/coupon.csv")
coupon.head(2)

    COUPON_UPC  PRODUCT_ID  CAMPAIGN
0  10000089061       27160         4
1  10000089064       27754         9

In [299]:
coupon = coupon[['COUPON_UPC', 'CAMPAIGN']].drop_duplicates()

In [302]:
for index, row in coupon.iterrows():
    stmt = """INSERT INTO coupon_campaign VALUES({coupon_upc}, {campaign_id});"""
    sql_command = stmt.format(coupon_upc = row.COUPON_UPC,
                              campaign_id = row.CAMPAIGN                             
                              )
    connection.execute(sql_command)

## 13. coupon_redempt

In [147]:
coupon_redempt = pd.read_csv("/Users/yihengshen/Documents/Columbia/5310 Nick/group project/data/coupon_redempt.csv")
coupon_redempt.head(2)

   household_key  DAY   COUPON_UPC  CAMPAIGN
0              1  421  10000085364         8
1              1  421  51700010076         8

In [308]:
df4 = pd.merge(coupon_redempt, df_household_info, how = 'left', left_on = 'household_key', right_on = 'household_id')
df4 = df4.dropna()

In [317]:
coupon_redempt = df4[['household_key', 'DAY', 'COUPON_UPC', 'CAMPAIGN']].drop_duplicates()

In [318]:
for index, row in coupon_redempt.iterrows():
    try:
        stmt = """INSERT INTO coupon_redempt VALUES({household_id}, {day}, {coupon_upc}, {campaign_id});"""
        sql_command = stmt.format(household_id = row.household_key,
                                  day = row.DAY,
                                  coupon_upc = row.COUPON_UPC,
                                  campaign_id = row.CAMPAIGN)
    except:
        continue
    connection.execute(sql_command)

## 14.transaction_info

In [333]:
#Select the columns and rename them to comply to the names used in the database
df_transaction_info=transaction_data[['BASKET_ID','household_key','STORE_ID','TRANS_TIME','DAY','WEEK_NO']]

df_transaction_info.columns = ['trans_id', 'household_id', 'store_id', 'trans_time', 'day','week_no']

In [334]:
df = pd.merge(df_transaction_info, df_household_info, how = 'left', on = 'household_id')
df2 = pd.merge(df, store, how = 'left', on = 'store_id')
df2 = df2.dropna()

In [335]:
transaction_info = df2[['trans_id', 'household_id', 'store_id', 'trans_time', 'day','week_no']]

In [338]:
#Load basic transaction records into transaction_info table 
df_transaction_info.to_sql(name='transaction_info', con=engine, if_exists='append', index=False)

In [347]:
for index, row in df_transaction_info.iterrows():
    stmt = """INSERT INTO transaction_info VALUES({trans_id}, {household_id}, {store_id}, {trans_time}, {day}, {week_no});"""
    sql_command = stmt.format(trans_id = row.trans_id,
                              household_id = row.household_id,
                              store_id = row.store_id,
                              day = row.day,
                              trans_time = row.trans_time,
                              week_no = row.week_no)
    connection.execute(sql_command)

## 15.transaction_product

In [340]:
#Select the columns and rename them to comply to the names used in the database
df_transaction_product=transaction_data[['BASKET_ID','PRODUCT_ID','QUANTITY','SALES_VALUE','RETAIL_DISC','COUPON_DISC','COUPON_MATCH_DISC']]

df_transaction_product.columns = ['trans_id', 'product_id', 'quantity', 'sale_value', 'retail_discount', 'coupon_disc','coupon_match_disc']

In [ ]:
for index, row in df_transaction_product.iterrows():
    stmt = """INSERT INTO transaction_product VALUES({trans_id}, {product_id}, {quantity}, {sale_value}, {retail_discount}, {coupon_disc}, {coupon_match_disc});"""
    sql_command = stmt.format(trans_id = row.trans_id,
                              product_id = row.product_id,
                              quantity = row.quantity,
                              sale_value = row.sale_value,
                              retail_discount = row.retail_discount,
                              coupon_disc = row.coupon_disc,
                              coupon_match_disc = row.coupon_match_disc)
    connection.execute(sql_command)